@font-face {
  font-family: "SFR";
  src: url("../public/fonts/SFPRODISPLAYREGULAR.OTF");
}
@font-face {
  font-family: "SFSB";
  src: url("../public/fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF");
}
@font-face {
  font-family: "SFB";
  src: url("../public/fonts/SFPRODISPLAYBOLD.OTF");
}
@font-face {
  font-family: "SFM";
  src: url("../public/fonts/SFPRODISPLAYMEDIUM.OTF");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "SFR", sans-serif !important;
}

* {
  box-sizing: border-box;
}
@mixin responsive-size($size) {
  @if $size == XLdevice {
    @media (max-width: 1440px) {
      @content;
    }
  }
  @if $size == Ldevice {
    @media (max-width: 1199px) {
      @content;
    }
  }
  @if $size == Ltab {
    @media (max-width: 992px) {
      @content;
    }
  }
  @if $size == tab {
    @media (max-width: 769px) {
      @content;
    }
  }
  @if $size == mobile {
    @media (max-width: 577px) {
      @content;
    }
  }
}
.mui-style-ahj2mt-MuiTypography-root {
  font-family: "SFR", sans-serif !important;
}
.nav_wrapper {
  background-color: rgba(56, 132, 247, 0.16);
}

.nav_wrapper-inner {
  display: flex;
  align-items: center;
  padding: 14px 16px;
  margin-bottom: 14px;
  position: relative;
  .logo {
    a {
      img {
        width: 178px;
      }
    }
  }
  .menus {
    ul {
      list-style: none;
      display: flex;
      margin-bottom: 0;
      li {
        a {
          text-decoration: none;
          color: #000000;
          padding: 16px;
          font-size: 14px;
        }
      }
    }
    @include responsive-size(tab) {
      display: none;
    }
  }
  .hamburger_icon {
    position: absolute;
    right: 0;
    padding-right: 12px;
    display: none;
    @include responsive-size(tab) {
      display: block;
    }
  }
}
.mobile_menu_wrapper {
  padding: 20px;
  .close_icon {
    display: flex;
    justify-content: flex-end;
  }
  .mobile_menu_list {
    ul {
      list-style: none;
      padding: 0;
      li {
        padding-bottom: 8px;
        a {
          text-decoration: none;
          color: #000000;
          font-size: 14px;
        }
      }
    }
  }
}
.left_panel {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding-top: 20px;
  padding-bottom: 20px;
  .filterTab_wrapper {
    .header {
      padding: 0 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 36px;
      p {
        &:first-child {
          font-size: 14px;
          color: #000000;
          font-family: "SFM";
        }
        &:nth-child(2) {
          color: #3884f7;
          font-size: 16px;
          font-family: "SFM";
        }
      }
    }
    .price_wrapper {
      margin-top: 26px;
      .price_range_inner {
        padding: 0 16px;
        p {
          font-size: 16px;
          color: #000000;
          font-family: "SFM";
          padding-bottom: 10px;
          border-bottom: 1px solid #e0e0e1;
        }
        .range_slider {
          .price_range {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
            h5 {
              font-size: 16px;
              font-family: "SFB";
              margin-bottom: 0;
            }
            h6 {
              font-size: 12px;
            }
          }
        }
      }
    }
    .generic_wrapper {
      margin-top: 26px;
      .generic_wrapper_inner {
        padding: 0 16px;
        p {
          font-size: 16px;
          color: #000000;
          font-family: "SFM";
          padding-bottom: 10px;
          border-bottom: 1px solid #e0e0e1;
        }
        .schedule_departure {
          p {
            border-bottom: none;
            font-size: 14px;
            font-family: "SFM";
            color: #4c4c4c;
            margin-bottom: 10px;
            margin-top: 32px;
            padding-bottom: 0;
          }
          .time_segment {
            .time_segment-single {
              border: 1px solid #f3f3f6;
              border-radius: 3px;
              padding: 10px 8px;
              margin-bottom: 6px;
              cursor: pointer;
              transition: all 0.2s;
              span {
                font-family: "SFM";
                font-size: 16px;
                margin-left: 8px;
              }
              &:hover {
                border-color: #1882ff;
              }
            }
          }
        }
      }
    }
  }
}

.right_panel {
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  // border-radius: 6px;
  .service_wrapper {
    .bus_amount {
      font-size: 16px;
      font-family: "SFM";
      margin-bottom: 0;
    }
    svg {
      margin-right: 15px;
    }
  }
}
.custom_hr {
  border-top: 1px solid #cbcaca;
  margin: 0;
}
.tab_details_generic {
  margin-top: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  .ticket_details {
    .ticket_details-inner {
      padding: 16px 6px;
      .details_heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .bus_name {
          padding: 2px 17px;
          background: #bbddff;
          border-radius: 16px;
          font-size: 18px;
          font-family: "SFM";
          font-weight: 600;
        }
        .bus_num {
          font-size: 10px;
          color: #4c4c4c;
          margin-top: 4px;
          text-align: center;
        }
        p {
          margin-bottom: 0;
          font-size: 16px;
          font-family: "SFM";
        }
        .price {
          span {
            margin-right: 9px;
          }
        }
      }
      .from_to_wrapper {
        margin-top: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include responsive-size(mobile) {
          flex-direction: column;
        }
        .from_wrapper {
          p {
            margin-bottom: 0;
            &:nth-child(1) {
              font-size: 12px;
              color: #4c4c4c;
              margin-bottom: 2px;
            }
            &:nth-child(2) {
              font-size: 16px;
            }
            &:nth-child(3) {
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 2px;
            }
            &:nth-child(4) {
              font-size: 14px;
              color: #4c4c4c;
            }
            &:nth-child(5) {
              font-size: 12px;
              color: #4c4c4c;
            }
          }
          @include responsive-size(mobile) {
            margin-bottom: 10px;
          }
        }
        .travel_duration {
          p {
            margin-bottom: 0;
            text-align: center;
          }
          .seats_available {
            color: #ef7e46;
            margin-top: 6px;
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 2px;
          }
          .duration {
            font-size: 12px;
            color: #4c4c4c;
          }
          @include responsive-size(tab) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .price_details {
  }
}
